<section id="showcase" class="section">
    <!-- Main Section -->
    <div class="container">
        <div class="section-main">
            <div class="playermain">
                <script src="//myradiostream.com/embed/colibreradio"></script>
            </div>
            <h1>CoLibre Radio</h1>
        </div>
    </div>
</section>
<!-- chat Section -->
<section id="chat" class="section">
    <div class="container">
        <h3>Chat Room</h3>
        <iframe src="https://minnit.chat/CoLibreChat?embed&nickname=" class="shadow mb-4 bg-white"
            style="border:0;width:90%;height:500px;" allowTransparency="true"></iframe>
    </div>
</section>
<!-- Contact Section -->
<section id="contact" class="section">
    <div class="container">
        <h3 class="primarycolor">Contact Us</h3>
    </div>

    <form id="myForm" class="form-container">
        <!--Grid row-->
        <input type="text" id="name" name="name" class="form-control" required>
        <label for="name" id="namelabel">Your Name*</label>
        <!--Grid row-->
        <input type="text" id="email" name="email" class="form-control">
        <label for="email" id="emaillabel">Email</label>
        <!--Grid row-->
        <textarea type="text" id="body" name="body" class="form-control textarea" required></textarea>
        <label for="message" id="messagelabel">Text*</label>
        <div class="mt-1">
            <button id="submit" class="btn">Submit</button>
        </div>
    </form>


</section>