<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container" style="margin-left: 4%;margin-right: 4%;">
        <a class="navbar-brand js-scroll-trigger" href="{% if page.url == '/index.html' or page.url == '/' %}#page-top{% else %}{{site.baseurl}}/index.html#page-top{% endif %}">CoLibre
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0">
                <li class="nav-item dropdown">
                    <a id="drop1" data-toggle="dropdown" class="nav-link dropdown-toggle"
                        href="#">
                        Posts<b class="caret"></b></a>
                    <div class="dropdown-menu">
                        {% for category in site.categories %}
                        <a class="dropdown-item js-scroll-trigger"
                                href="{% if page.url == '/index.html' or page.url == '/' %}#{{ category[0] }}{% else %}{{site.baseurl}}/{{ category[0]}}.html{% endif %}">
                                {% include categorycondition.html %}
                            </a>
                        {% endfor %}
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% if page.url == '/index.html' or page.url == '/' %}#chat{% else %}{{site.baseurl}}/index.html#chat{% endif %}">Chat</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/contact.html">Contact</a></li>
            </ul>
        </div>
    </div>
    <div class="float-right">
        <p class="btn btn-primary btn-xl js-scroll-trigger" style="margin-bottom: 0%;margin-top: 2%;" data-toggle="tooltip" data-placement="bottom" title="{{site.data.site.browsercompatibility}}">
           <script src="//myradiostream.com/embed/colibreradio"></script>
        </p>
    </div>
</nav>