<div class="col-sm-4 form-group">
    <div class="card" style="width: 18rem;height: 33.5rem !important;">
        <img class="card-img-top" style="object-fit: cover; object-position: center;max-height: 14rem;overflow:hidden;" src="{{ post.thumbnail }}" alt="No post image..">
        <div class="card-body">
            <div class="row" style="max-height: 14rem;overflow:hidden;">
                <h5 class="card-title" style="max-height: 7rem;overflow:hidden;">{{ post.title }}</h5>
                <p class="card-text" style="max-height: 9rem;overflow:hidden;">{{ post.excerpt }}</p>
            </div>
        </div>
        <div class="row align-items-center d-flex justify-content-center mb-4">
            <a href="{{ post.url }}" class="btn btn-primary" target="_blank">Read More..</a>
        </div>
    </div>
</div>