<div class="col-sm-4 form-group">
    <div class="card" style="width: 18rem;height: 32rem !important;">
        <img class="card-img-top" src="{{ post.thumbnail }}" alt="No post image..">
        <div class="card-body">
            <div class="row" style="max-height: 14rem;overflow:hidden;">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.excerpt }}</p>
            </div>
        </div>
        <div class="row align-items-center d-flex justify-content-center" style="margin-bottom:8%">
            <a href="{{ post.url }}" class="btn btn-primary" target="_blank">Read More..</a>
        </div>
    </div>
</div>